.game-followers-container {
    /* width: 100%; */
    flex-wrap: wrap;
    display: flex;
    gap: 10px;
    margin: auto;
}
.game-followers-container > ul > li {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    gap: 10px;
    flex-direction: column;
}

.game-followers-img{
    object-fit: cover;
    aspect-ratio: 4/5;
    width: 200px;
}