.LoadingScreen {
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  width: 100%;
  height: 55vh;
}

.LoadingScreen-bar {
  /* position: fixed; */
  /* top: 0;
  left: 0; */
  width: 100%;
  height: 5px;
  background-color: #ddd;
}

.progress {
  margin: 5px 0;
  height: 100%;
  background-color: aqua;
  transition: width 1s ease;
}

.loading-text {
  color: aqua;
}