.status-games-details {
    border: 1px solid black;
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    height: 415px;
    width: 260px;
    gap: 10px;
    padding: 10px;
    /* margin-bottom: 10px; */
}