.profile-container {
    display: flex;
    width: 1100px;
    margin: auto;
}

ul {
    list-style: none;
}

.profile-container .standard-profile {
    max-width: 100px;
    padding: 10px;
}

.standard-profile img {
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
}

.favorites-container, 
.UserGameList-container {
    width: 1100px;
    display: flex;
    padding: 10px 0;
}

.favorites-container div ul{
    /* width: 860px; */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.favorites-container div ul li{
    width: 260px;
    flex-direction: column;
    border: 1px solid black;
    display: flex;
    padding: 10px;
}

.UserGameList-container div ul{
    /* width: 860px; */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.UserGameList-container div ul li{
    width: 260px;
    flex-direction: column;
    border: 1px solid black;
    display: flex;
    padding: 10px;
}