.profile-container {
    display: flex;
    width: 1200px;
    margin: auto;
}

ul {
    list-style: none;
}

.profile-content {
    width: 100%;
    padding: 10px;
}

.profile-header {
    gap: 10px;
    display: flex;
    border-bottom: 2px solid purple;
}

.profile-header-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.profile-item-1, .profile-item-2 {
    text-transform: uppercase;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}

.profile-item-1 > p > span{
    padding: 0;
    font-size: 1em;
}

.profile-container .standard-profile {
    max-width: 100px;
    padding: 10px;
}

.standard-profile {
    display: flex;
    justify-content: center;
}

.standard-profile img {
    aspect-ratio: 4/4;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    width: 100px;
    object-fit: cover;
}

.favorites-container,
.UserGameList-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    gap: 10px;
    margin: auto;
}

.favorites-container div ul {
    width: 860px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.favorites-container div ul li>a {
    width: 260px;
    flex-direction: column;
    border: 1px solid black;
    display: flex;
    padding: 10px;
}

.UserGameList-container div ul {
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    margin: auto;
}

.user-bio-content {
    display: flex;
    flex-wrap: wrap;
    background: white;
    color: black;
    width: 600px;
    padding: 10px;
    white-space: pre-line
}

.user-achievement-content {
    width: 100%;
    background: #333;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
}

.user-main-bio-achievements > div > div > ul {
    display: flex;
    gap: 20px;
}

.user-main-bio-achievements {
    gap: 20px;
    display: flex;
}

/* UserNavbar */

.user-navbar {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    padding: 10px;
    margin-top: 20px;
}

.user-navbar button {
    background-color: #fff;
    color: #333;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 16px;
}

.user-navbar button:hover {
    background-color: #ddd;
}

.user-following-container {
    display: flex;
}

.user-following-container > ul li a {
    color: orangered;
    display: flex;
    gap: 10px;
    padding: 10px 0;
}

.user-following-container > ul li >a img {
    aspect-ratio: 4/4;
    object-fit: cover;
    width: 40px;
}