.theme-toggle-button {
    background-color: #3498db;
    color: #fff;
    padding: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.theme-toggle-button:hover {
    background-color: #2980b9;
}

.dark-mode .sidebar {
    background: #000000;
}
.dark-mode .container-absolute {
    background: #000000;
}