@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;700&family=Rubik+Glitch&display=swap');

:root {
    --background-navbar-light: #e1e1e1;
    --text-color-navbar-light: #1e1e1e;
    --text-color-logo-light: #1e1e1e;

    --background-navbar-dark: #1e1e1e;
    --text-color-navbar-dark: #e1e1e1;
    --text-color-logo-dark: purple;
}

.dark-mode .navbar {
    background: var(--background-navbar-dark);
    transition: background-color 0.3s ease-in-out;
}

.dark-mode a>h1 {
    font-family: 'Rubik Glitch', 'cursive';
    text-transform: uppercase;
    color: var(--text-color-logo-dark);
    font-size: 2.5em;
}

.navbar {
    display: flex;
    background: var(--background-navbar-light);
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

/* TABLETS */
@media screen and (max-width: 768px) {
    .navbar {
        padding: 20px 20px;
        display: flex;
        justify-content: center;
    }

    .navbar a>h1 {
        display: none;
        font-size: 1em;
    }

    .navbar li>a {
        padding: 10px;

    }

    .navbar>ul {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .navbar a>h1 {
        font-size: 3.5em;
    }

    .navbar li>a {
        font-size: 1.5em;
    }
}

/* MOBILES */
@media screen and (max-width: 420px) {
    .navbar {
        padding: 20px 20px;
        display: flex;
    }

    .navbar a>h1 {
        display: none;
        font-size: 1em;
    }

    .navbar>li>a {
        font-size: 0.4em;
        padding: 10px;

    }

    .navbar>ul {
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
}

a {
    text-decoration: none;
}

a>h1 {
    font-family: 'Rubik Glitch', 'cursive';
    text-transform: uppercase;
    color: var(--text-color-logo-light);
    font-size: 2.5em;
}

.navbar > div {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    margin: auto;
    justify-content: space-between;
}

.navbar> div >ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    list-style: none;
}


.navbar li>a {
    border-radius: 5px;
    background: purple;
    padding: 8px;
    text-transform: uppercase;
    color: white;
    font-size: 1em;
}