:root {
    --background-sidebar-light: #e1e1e1;
    --text-color-sidebar-light: #1e1e1e;

    --background-sidebar-dark: #1e1e1e;
    --text-color-sidebar-dark: #e1e1e1;
}

.dark-mode .sidebar {
    background: var(--background-sidebar-dark);
    transition: background-color 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
}

.dark-mode .links_list a.active {
    color: var(--text-color-sidebar-light);
}

.dark-mode .close-button {
    color: var(--text-color-sidebar-dark);
}

.sidebar {
    width: 240px;
    height: 100%;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    transform: translateX(1540px);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1100;
    transition: transform 0.3s ease-in-out;
}

.sidebar.show {
    transform: translateX(1115px);
}

@media screen and (max-width: 420px) {
    .sidebar {
        width: 420px;
        transform: translateX(440px);
    }

    .sidebar.show {
        display: flex;
        flex-direction: column;
        transform: translateX(0);
    }

    .links_list {
        justify-content: center;
        width: 400px;
        flex-wrap: wrap;
        display: flex;
    }
    
    .sidebar .links_list > li {
        width: 360px;
    }

    .links_list a.active, .logout {
        width: 360px;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #606060;
        padding: 10px;
        font-size: 1em;
    }

}

.links_list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.links_list li {
    margin-bottom: 8px;
}

.links_list a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #606060;
    padding: 12px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.links_list li > .em-breve {
    border: none;
    cursor: not-allowed;
    width: 100%;
    color: #000;
    display: flex;
    align-items: center;
    padding: 12px;
    border-radius: 8px;
}

.links_list a:hover {
    background-color: #f0f0f0;
}

.links_list a.active {
    background-color: #f0f0f0;
    color: #065fd4;
}

.icon {
    margin: 10px;
    font-size: 18px;
}

.backdrop-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1100;
}

.standard-profile-sidebar {
    border: none;
    display: flex;
    width: 35px;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
}

.standard-profile-sidebar div img {
    border-radius: 5px;
    display: flex;
    aspect-ratio: 4/4;
    object-fit: cover;
    /* margin: 3px; */
    max-width: 100%;
    width: 35px;
}

.close-button {
    background: none;
    border: none;
    color: var(--text-color-sidebar-light);
    font-size: 1.1rem;
    cursor: pointer;
    margin: 10px;
}