.progress-bar-container {
    /* position: fixed; */
    /* top: 0; */
    /* left: 0; */
    width: 100%;
    height: 20px;
    background-color: #eee;
    border-radius: 4px;
    overflow: hidden;
    z-index: 9999;
  }
  
  .progress-bar {
    height: 100%;
    background-color: #4caf50; /* Cor da barra de progresso */
    transition: width 0.3s ease-in-out;
  }
  