:root {
    --background-navbar-light: #e1e1e1;
    --text-color-navbar-light: #1e1e1e;
    --text-color-logo-light: #1e1e1e;

    --background-navbar-dark: #1e1e1e;
    --text-color-navbar-dark: #e1e1e1;
    --text-color-logo-dark: purple;
}

#container {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 0.5fr 1fr 0fr;
    grid-template-areas:
        "Banner Banner Banner"
        "Fotodojogo Fotodojogo Fotodojogo"
        "trailer trailer trailer"
        "Info-container Info-container Info-container"
        "createdBy createdBy createdBy";
    text-align: center;
    gap: 20px;
}

#banner {
    grid-area: Banner;
}

#foto-do-jogo {
    grid-area: Fotodojogo;
}

#info-container-details {
    grid-area: Info-container;
}

#trailer {
    grid-area: trailer;
}

#createdBy {
    grid-area: createdBy;
}

#banner {
    display: flex;
    margin: auto;
    position: absolute;
    z-index: -20;
    width: 100%;
}

.secondary-images-container ul>li>img {
    width: 1315px;
    display: flex;
    justify-content: center;
    height: 235px;
    margin: auto;
    object-fit: cover;
    filter: blur(10px) brightness(0.8) contrast(1.2);
}

.secondary-images-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 250px;
    border-bottom: 2px solid purple;
    background-image: linear-gradient(180deg, transparent, #1b1b1b);
}

#foto-do-jogo {
    position: relative;
    bottom: 10px;
    width: 1200px;
    display: flex;
    max-height: 100%;
    gap: 10px;
    margin: auto;
}

#foto-do-jogo .details-div-foto>img {
    display: flex;
    aspect-ratio: 4/5;
    object-fit: cover;
    border: 2px solid black;
    width: 220px;
}

#info-status-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#info-status-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#status {
    flex-direction: column;
    display: flex;
    gap: 60px;
    align-items: flex-start;
    justify-content: space-between;
}

#status>button {
    display: flex;
    border: none;
    background: none;
    cursor: pointer;
}

#status>button .bi-bookmarks-fill {
    text-transform: uppercase;
    font-size: 2.2em;
    color: rgb(255, 0, 0);
}

.like-dislike-container {
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    display: flex;
}

.like-dislike-container > div {
    max-width: 100%;
    flex-wrap: wrap;
    display: flex;
    gap: 10px;
}

.like-dislike-container > div > button{
    width: 50px;
    flex-wrap: wrap;
    display: flex;
}

.like-dislike-container > p {
    max-width: 100%;
}

.game-details-container {
    width: 100%;
    margin: auto;
    justify-content: center;
}

#info-container-details {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
}

#info-container-details>#details-div {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background: black;
    align-items: flex-start;
    width: 1200px;
    margin: auto;
    gap: 20px;
}

#info-container-details>#details-div>div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

#info-container-details>#details-div>h2 {
    color: white;
    font-size: 2em;
    text-transform: uppercase;
}

#info-container-details>#details-div>div p {
    font-size: 1em;
    color: #acac27;
    text-transform: uppercase;
}

#info-container-details>#details-div>div p>span {
    font-size: 1em;
    color: yellow;
    text-transform: uppercase;
}

#info-container-details>#details-div>div {
    display: flex;
    flex-wrap: wrap;
    font-size: 1em;
    gap: 20px;
}

#info-container-details>#details-div>div ul {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
}

#info-container-details>#details-div>div ul li {
    color: rgb(0, 0, 0);
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    font-size: 1em;
    background: yellow;
    padding: 5px;
}

.game-details {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}

#onde-comprar {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    margin: auto;
    flex-direction: column;
    background: #707070;
    gap: 10px;
    padding: 10px;
}

#onde-comprar .sites-container {
    display: flex;
}


#onde-comprar .sites-container>ul {
    gap: 10px;
    display: flex;
    max-width: 1200px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


#onde-comprar .sites-container ul>li>a {
    font-size: 1em;
    padding: 10px;
    background: black;
    width: 500px;
    color: rgb(29, 121, 202);
    display: flex;
}

.set-rating-classification-interactions {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.set-rating-classification-interactions .rating-age {
    padding: 5px;
    color: white;
    background: blue;
}

.set-rating-classification-interactions .classification-all {
    padding: 5px;
    color: white;
    background: green;
}

.set-rating-classification-interactions .interactions-all {
    padding: 5px;
    font-size: .9em;
    color: rgb(0, 0, 0);
    background: yellow;
}

.description-container {
    background: #e7e7e7;
    width: 1200px;
    height: 200px;
    display: flex;
    gap: 20px;
    padding: 10px;
    margin: auto;
    border: 2px solid purple;
}

.description-container>p {
    display: flex;
    text-align: left;
    padding: 10px;
    color: #000;
}

#system-requirements {
    width: 1200px;
    display: flex;
    margin: auto;
}

.system-requirements-table-container {
    width: 100%;
    display: flex;
}

.games-status-details {
    display: flex;
    height: 400px;
}

.reviews-container {
    width: 1200px;
    align-items: center;
    gap: 20px;
    display: flex;
    flex-direction: column;
    background: #707070;
    padding: 10px;
    margin: auto;
}

.reviews-container ul {
    list-style: none;
}

.box-reviews-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.box-reviews-container .user-review div {
    padding: 10px;
    background: #1b1b1b;
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}


.box-reviews-container .user-review div>.user-text {
    width: 600px;
    background: #e1e1e1;
    color: #1b1b1b;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
}

.box-reviews-container>div {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.box-reviews-container>div textarea {
    max-width: 600px;
    min-width: 600px;
    min-height: 100px;
    padding: 10px;
    justify-content: center;
    display: flex;
    font-size: 1.2em;
}

.all-reviews-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px;
    background: black;
    color: white;
    width: 600px;
    gap: 10px;
}

.all-reviews-container>p {
    text-transform: uppercase;
}

.all-reviews-container>ul li {
    margin: 10px 0;
    text-align: start;
    border: 1px solid aqua;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
}

.all-reviews-container>ul li>p {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.all-reviews-container .user-name-review {
    max-width: 100%;
    padding: 6px;
    color: black;
    background: yellow;
}

.all-reviews-container>ul li>p>span {
    display: flex;
    width: 560px;
}

.all-reviews-container>ul li>p>.review-text {
    background: white;
    color: #1b1b1b;
    display: flex;
    padding: 10px;
}

@media screen and (max-width: 420px) {
    #container {
        display: flex;
        text-align: center;
        gap: 20px;
    }

    .details-div-foto img {
        aspect-ratio: 0/5;
        object-fit: cover;
        border: 2px solid black;
        /* height: 40vh; */
        width: 180px;
    }

    .game-details-container {
        flex-direction: column;
        display: flex;
    }

    .secondary-images-container ul>li>img {
        display: flex;
        justify-content: center;
        width: 400px;
        height: 200px;
        /* margin: auto; */

    }

    .secondary-images-container::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 400px;
        height: 415px;
        background-image: linear-gradient(180deg, transparent, #1b1b1b);
    }

    .details-div-foto #status {
        width: 100px;
        position: relative;
        bottom: 275px;
        left: 100px;
        display: flex;
    }

    .secondary-images-container ul>li>img {
        width: 420px;
    }

    #banner {
        top: 0;
        left: 0;
        width: 400px;
    }

    #set-rci {
        position: relative;
        display: flex;
        width: 400px;
        height: 40vh;
    }

    #trailer {
        position: none;
        display: flex;
        justify-content: center;
    }

    #trailer .field {
        width: 400px;
    }

    #trailer .field>iframe {
        width: 300px;
        height: 200px;
        display: flex;
    }

    #info-container-details {
        display: flex;
        align-items: center;
        width: 400px;
    }

    #info-container-details #descrição {
        width: 400px;
    }

    #info-container-details #details-div {
        display: flex;
        flex-wrap: wrap;
        width: 400px;
    }

    #info-container-details>#details-div>h2 {
        font-size: 1em;
    }

    #info-container-details>#details-div>div {
        font-size: 1em;
        display: flex;
    }

    #info-container-details>#details-div>div ul li {
        padding: 3px;
        font-size: 1em;
    }

    #onde-comprar {
        display: flex;
        justify-content: center;
        width: 400px;
    }

    #onde-comprar .sites-container {
        display: flex;
        justify-content: center;
        width: 380px;
    }

    #onde-comprar>.sites-container ul {
        display: flex;
        justify-content: center;
        width: 380px;
    }

    #onde-comprar>.sites-container ul li>a {
        width: 360px;
    }

    #system-requirements {
        width: 400px;
    }

    #system-requirements h2 {
        font-size: 1em;
    }

    #system-requirements table tr {
        font-size: 0.6em;
    }

    #analises {
        width: 400px;
    }

    .reviews-container ul {
        width: 380px;
    }

    .all-reviews-container>ul li {
        width: 360px;
    }

    .all-reviews-container>ul li>p>.review-text {
        width: 340px;
        display: flex;
        flex-wrap: wrap;
        white-space: pre-line
    }

    .box-reviews-container .user-review div>.user-text {
        width: 380px;
        background: #e1e1e1;
        color: #1b1b1b;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        text-align: start;
    }

    .box-reviews-container>div textarea {
        max-width: 380px;
        min-width: 380px;
        min-height: 100px;
        padding: 10px;
        justify-content: center;
        display: flex;
        font-size: 1.2em;
    }

    .all-reviews-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 10px;
        background: black;
        color: white;
        width: 380px;
        gap: 10px;
    }

    .all-reviews-container>ul li>p>span {
        display: flex;
        width: 360px;
    }
}