:root {
    --background-navbar-light: #e1e1e1;
    --text-color-navbar-light: #1e1e1e;
    --text-color-logo-light: #1e1e1e;

    --background-navbar-dark: #1e1e1e;
    --text-color-navbar-dark: #e1e1e1;
    --text-color-logo-dark: purple;
}

#container {
    display: grid;
    grid-template-columns: 2fr 2fr 3fr;
    grid-template-rows: 1fr 7fr 0fr;
    grid-template-areas:
        "Banner Banner Banner"
        "Fotodojogo set-rci trailer"
        "Fotodojogo 1 1"
        "item-list item-list item-list"
        "Info-container Info-container Info-container"
        "createdBy createdBy createdBy";
    text-align: center;
    gap: 20px;
}

#foto-do-jogo {
    grid-area: Fotodojogo;
}

#set-rci {
    grid-area: set-rci;
}

#onde-comprar {
    grid-area: Ondecomprar;
}

#banner {
    grid-area: Banner;
}

#item-list {
    grid-area: item-list;
}

#info-container-details {
    grid-area: Info-container;
}

#trailer {
    grid-area: trailer;
}

#createdBy {
    grid-area: createdBy;
}

#descrição {
    grid-area: Descrição;
}

#status {
    position: relative;
    bottom: 275px;
    left: 190px;
    display: flex;
}

#status>button {
    text-transform: uppercase;
    font-weight: bold;
    font-size: .8em;
    border: 1px solid black;
    padding: 10px;
    background: red;
    color: black;
    cursor: pointer;
}

#set-rci>div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#set-rci>div h1 {
    display: flex;
    gap: 10px;
    color: white;
}

#set-rci>div h3 {
    display: flex;
    color: white;
}

#set-rci div>ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    color: black;
    gap: 10px;
    max-height: 40px;
}

#set-rci div>ul li {
    text-transform: uppercase;
    font-size: 0.9em;
    padding: 6px;
    background: #e70000;
    display: flex;
    color: black;
}

.game-details-container {
    max-width: 1200px;
    margin: auto;
    justify-content: center;
}

#info-container-details {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
}

#info-container-details>#details-div {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background: black;
    align-items: flex-start;
    gap: 20px;
}

#info-container-details>#details-div>div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

#info-container-details>#details-div>h2 {
    color: white;
    font-size: 2em;
    text-transform: uppercase;
}

#info-container-details>#details-div>div p {
    font-size: 1em;
    color: #acac27;
    text-transform: uppercase;
}

#info-container-details>#details-div>div p>span {
    font-size: 1em;
    color: yellow;
    text-transform: uppercase;
}

#info-container-details>#details-div>div {
    display: flex;
    flex-wrap: wrap;
    font-size: 1em;
    /* width: 1000px; */
    gap: 20px;
}

#info-container-details>#details-div>div ul {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
}

#info-container-details>#details-div>div ul li {
    color: rgb(0, 0, 0);
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    font-size: 1em;
    background: yellow;
    padding: 5px;
}

.game-details {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}

#banner,
.secondary-images-container {
    display: flex;
    margin: auto;
    position: absolute;
    z-index: -20;
}

.secondary-images-container ul>li>img {
    display: flex;
    justify-content: center;
    width: 1200px;
    height: 390px;
    margin: auto;
    object-fit: cover;
    /* border-image-slice: 1; */

    filter: blur(30px) brightness(0.8) contrast(1.2);
}

.secondary-images-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1200px;
    height: 415px;
    background-image: linear-gradient(180deg, transparent, #1b1b1b);
}

.details-div-foto>img {
    object-fit: cover;
    border: 2px solid black;
    height: 40vh;
    width: 220px;
}

#onde-comprar {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    margin: auto;
    flex-direction: column;
    background: #707070;
    gap: 10px;
    padding: 10px;
}

#onde-comprar .sites-container {
    display: flex;
}


#onde-comprar .sites-container>ul {
    gap: 10px;
    display: flex;
    max-width: 1200px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


#onde-comprar .sites-container ul>li>a {
    font-size: 1em;
    padding: 10px;
    background: black;
    width: 500px;
    color: rgb(29, 121, 202);
    display: flex;
}

.set-rating-classification-interactions {
    /* position: relative; */
    /* top: 15px; */
    width: 300px;
    height: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.set-rating-classification-interactions .rating-age {
    padding: 5px;
    color: white;
    background: blue;
}

.set-rating-classification-interactions .classification-all {
    padding: 5px;
    color: white;
    background: green;
}

.set-rating-classification-interactions .interactions-all {
    padding: 5px;
    font-size: .9em;
    color: rgb(0, 0, 0);
    background: yellow;
}

.details-container {
    background: #707070;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}

.description-container {
    padding: 10px;
    color: black;
}

.details-container .details-div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.games-status-details {
    display: flex;
    height: 400px;
}

.reviews-container {
    align-items: center;
    gap: 20px;
    display: flex;
    flex-direction: column;
    background: #707070;
    padding: 10px;
}

.reviews-container ul {
    list-style: none;
}

.box-reviews-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.box-reviews-container .user-review div {
    padding: 10px;
    background: #1b1b1b;
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    /* width: 600px; */
}


.box-reviews-container .user-review div>.user-text {
    width: 600px;
    background: #e1e1e1;
    color: #1b1b1b;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
}

.box-reviews-container>div {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.box-reviews-container>div textarea {
    max-width: 600px;
    min-width: 600px;
    min-height: 100px;
    padding: 10px;
    justify-content: center;
    display: flex;
    font-size: 1.2em;
}

.all-reviews-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px;
    background: black;
    color: white;
    width: 600px;
    gap: 10px;
}

.all-reviews-container>p {
    text-transform: uppercase;
}

.all-reviews-container>ul li {
    margin: 10px 0;
    text-align: start;
    border: 1px solid aqua;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
}

.all-reviews-container>ul li> p {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.all-reviews-container .user-name-review {
    max-width: 100%;
    padding: 6px;
    color: black;
    background: yellow;
}

.all-reviews-container>ul li>p>span {
    display: flex;
    width: 560px;
}

.all-reviews-container>ul li>p> .review-text {
    background: white;
    color: #1b1b1b;
    display: flex;
    padding: 10px;
}