#container {
    display: grid;
    grid-template-columns: 2fr 2fr 3fr;
    grid-template-rows: 1fr 7fr 0fr;
    grid-template-areas:
        "Banner Banner Banner"
        "Fotodojogo set-rci trailer"
        "Fotodojogo 1 1"
        "item-list item-list item-list"
        "Info-container Info-container Info-container"
        "createdBy createdBy createdBy";
    text-align: center;
    gap: 20px;
}

#foto-do-jogo {
    grid-area: Fotodojogo;
}

#set-rci {
    grid-area: set-rci;
}

#onde-comprar {
    grid-area: Ondecomprar;
}

#banner {
    grid-area: Banner;
}

#item-list {
    grid-area: item-list;
}

#info-container-details {
    grid-area: Info-container;
}

#trailer {
    grid-area: trailer;
}

#createdBy {
    grid-area: createdBy;
}

#descrição {
    grid-area: Descrição;
}

#status {
    position: relative;
    bottom: 275px;
    left: 190px;
    display: flex;
}

#status>button {
    text-transform: uppercase;
    font-weight: bold;
    font-size: .8em;
    border: 1px solid black;
    padding: 10px;
    background: red;
    color: black;
    cursor: pointer;
}

#set-rci > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#set-rci > div h1 {
    display: flex;
    gap: 10px;
    color: white;
}

#set-rci > div h3 {
    display: flex;
    color: white;
}

#set-rci div > ul{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    color: black;
    gap: 10px;
    max-height: 40px;
}

#set-rci div > ul li{
    text-transform: uppercase;
    font-size: 0.9em;
    padding: 6px;
    background: #e70000;
    display: flex;
    color: black;
}

.game-details-container {
    max-width: 1200px;
    margin: auto;
    justify-content: center;
}

.game-details {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}

#banner,
.secondary-images-container {
    display: flex;
    margin: auto;
    position: absolute;
    z-index: -20;
}

.secondary-images-container ul>li>img {
    width: 1200px;
    height: 415px;
    object-fit: cover;
    border-image-slice: 1;
    filter: blur(4px);
}

.secondary-images-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1200px;
    height: 415px;
    background-image: linear-gradient(180deg, transparent, #1b1b1b);
}

.details-div-foto>img {
    object-fit: cover;
    border: 2px solid black;
    height: 40vh;
    width: 220px;
}

#onde-comprar {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    margin: auto;
    flex-direction: column;
    background: #707070;
    gap: 10px;
    padding: 10px;
}

#onde-comprar .sites-container {
    display: flex;
}


#onde-comprar .sites-container>ul {
    gap: 10px;
    display: flex;
    max-width: 1200px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


#onde-comprar .sites-container ul>li>a {
    font-size: 1em;
    padding: 10px;
    background: black;
    width: 500px;
    color: rgb(29, 121, 202);
    display: flex;
}

.set-rating-classification-interactions {
    /* position: relative; */
    /* top: 15px; */
    width: 300px;
    height: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.set-rating-classification-interactions .rating-age {
    padding: 5px;
    color: white;
    background: blue;
}

.set-rating-classification-interactions .classification-all {
    padding: 5px;
    color: white;
    background: green;
}

.set-rating-classification-interactions .interactions-all {
    padding: 5px;
    font-size: .9em;
    color: rgb(0, 0, 0);
    background: yellow;
}

.details-container {
    background: #707070;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}

.description-container {
    padding: 10px;
    color: black;
}

.details-container .details-div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.games-status-details {
    display: flex;
    height: 400px;
}

.reviews-container {
    align-items: center;
    gap: 20px;
    display: flex;
    flex-direction: column;
    background: #707070;
    padding: 10px;
}

.reviews-container ul {
    list-style: none;
}

.box-reviews-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.box-reviews-container>div {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.box-reviews-container>div textarea {
    padding: 10px;
    justify-content: center;
    display: flex;
    font-size: 1.2em;
}